<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Will Sokolowski</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <style>
        .is-collapsed {
        	display: none;
        }
    </style>
</head>
<body>
    <div>
        <header>
            <div class="avatar"></div>
            <h1>Will Sokolowski</h1>
            <p>Location: Virginia Beach, VA</p>
        </header>
        <main>
            <div class="background">
                <h2>Background</h2>
                <p>I'm a Full Stack Web Developer who likes to build things, break things, and sometimes write code that works. My first love is WordPress, I enjoy Angular, React, and other front end technologies, and tolerate Java. It's my flavor of choice for the backend, though Node has me in it's clutches.</p>
                <p>I've been a developer since 2004. I'm a musician, writer, and deadlift enthusiast. I'm married to my high school sweet heart, have 4 awesome kids, and a great life in Virginia Beach, Virginia. Let's build something that makes a difference.</p>
            </div>
            <div class="goals">
                <h2>Goals</h2><a class="view-more">Hide</a>
                <div class="goals-content">
                    <p>I want to master the process of building web sites and increase my knowledge, skills and abilities in:</p>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                    </ul>
                    <p>I'd like to work for a web design firm helping clients create an impressive online presence.</p>
                </div>
            </div>
        </main>
        <footer>
            <ul>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">LinkedIn</a></li>
                <li><a href="#">Github</a></li>
            </ul>
            <p>Copyright 2016, Jane Smith</p>
        </footer>
    </div>
</body>
</html>
